
.row {
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
  }
  
.column {
    text-align: center;
    margin-left: 10px;
    }
.fig{
    font-weight: 700;
}